@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  font-family: "Roboto";
}

.form-header {
  text-align: center;
}

form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(0, 81, 131);
  justify-content: center;
  border: 0;
  color: #ffffff;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 15px;
}
form button:hover {
  background: rgb(0, 106, 172);
}


tr {
  border: 1px solid lightskyblue;
  border-radius: 15px;
}

table tr:hover{
    cursor: pointer;
}

table tr:hover th{
  background: white;
}

table tr:hover td{
  background: white;
}

.row{
  margin-bottom: 10px;
}